.react-tooltip-lite {
  background-image: linear-gradient(to right, #092e2e, #04152b);
  color: white;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 1px white;
}

.react-tooltip-lite-arrow {
  border-color: transparent;
}
