.text-gray {
    color: #eaeff9;
}

.text-color-one {
    color: #2C3531;
}

.text-color-two {
    color: #116466;
}

.text-color-three {
    color: #D1E8E2;
}

.bg-header {
    background-image: linear-gradient(black, #ffffff00);
}

.bg-color-two {
    background-color: #116466;
}

.bg-color-three {
    background-color: #D1E8E2;
}

.bg-main {
    background-image: linear-gradient(#303c3c, #072042);
    min-height: 100vh;
}