.ebwc-icon {
    width: 40px;
    height: 40px;
    border-radius: 30%;
    background: black;
    padding-left: 2px;
    padding-top: 5px;
    padding-bottom: 4px;
    margin-bottom: 5px;
    margin-right: 2px;
    border: 1px solid #e02304;
}

.ebwc-img {
    width: 200px;
    height: 200px;
    border-radius: 20%;
    background: black;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 1px solid red;
    box-shadow: 0 0 10px red;
}

.icon-glow {
    animation: glowing 1s linear infinite alternate;
}

@keyframes glowing {
    100% {
        box-shadow: 0 0 10px red, 0 0 20px #9d3d29, 0 0 30px #9d3d29, 0 0 10px white;
    }
}

.splash-img {
    width: 100%;
    border-radius: 10px;
}

.game-images {
    width: 100%;
    border-radius: 10px;
}

.card {
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2), 0 0 14px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    background: rgb(34, 34, 34);
    color: gray;
    border-radius: 20px;
}

.card-hover {
    box-shadow: 0 0 30px 0 white, 0 0 50px 0 white;
    color: white;
    cursor: pointer;
}

.card-size {
    padding: 2px 16px;
}