.ebwc-img {
  width: 200px;
  height: 200px;
  border-radius: 20%;
  background: black;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  border: 1px solid red;
  box-shadow: 0 0 10px red;
}

.splash-img {
  width: 100%;
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 0 0 5px 2px gray;
}

.game-images {
  width: 46%;
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 0 0 5px 2px gray;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2%;
  margin-right: 2%;
}

.card {
  color: grey;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2), 0 0 6px 2px rgba(0, 0, 0, 0.2);
  width: 100%;
  background: rgb(34, 34, 34);
  border-radius: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: 0.2s;
}

.card-hover {
  box-shadow: 0 0 8px 3px white;
  text-decoration: none;
  cursor: pointer;
}

.card-size {
  padding: 10px 5px;
  margin-bottom: 0;
  text-align: center;
}

.card-text {
  color: white;
}

@media only screen and (orientation: portrait) {
  .card {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 60vw;
    min-width: initial;
  }

  .card-size {
    width: 60vw;
  }

  .card:after {
    content: "";
    display: block;
    position: absolute;
    right: -2rem;
    width: 2rem;
    height: 1px;
  }

  .game-images {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: initial;
    margin-right: initial;
  }
}
