.content {
  display: flex;
  flex-direction: column;
  position: fixed;
  color: white;
  height: 100vh;
  top: 0;
  right: 0;
  width: 75vw;
  padding-top: 65px;
  padding-bottom: 65px;
  padding-left: 5vw;
  padding-right: 5vw;
  z-index: 1;
  overflow-y: scroll;
}

hr {
  background: #d1e8e2;
  width: 100%;
}

@media only screen and (orientation: portrait) {
  .list {
    flex-direction: row;
    background-image: linear-gradient(#303c3c, #072042);
    height: 35vh;
    top: initial;
    left: 0px;
    bottom: 0;
    width: 100vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  .content {
    height: 65vh;
    width: 100vw;
    padding-top: 65px;
    padding-bottom: 65px;
    padding-left: 6vw;
    padding-right: 6vw;
    z-index: 1;
  }
}
