.text-link:hover {
    color: white;
    text-decoration: none;
  }

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.footer {
  position: relative;
  z-index: 1;
}

.list {
  height: 100%;
  position: fixed;
  z-index: 2;
  background: #116466;
  padding-left: 60px;
  padding-right: 50px;
  padding-bottom: 150px;
  border-color: black;
  overflow-y: scroll;
}

.content {
  margin-left: 300px;
  margin-right: 30px;
}

.react-tooltip-lite {
  background: gray;
  color: white;
  border-radius: 20%;
  box-shadow: 0px 0px 10px white;
  border-color: black;
  font-weight: 600;
}

.react-tooltip-lite-arrow {
  border-color: gray;
}